@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --background-start-rgb: #181818;
  --background-end-rgb: #181818;
  --block-bg: #dc3b5a;
  --font-color-hero: #1e1e1e;
  --button-background-color: rgba(30, 30, 30, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-start-rgb: #181818;
    --background-end-rgb: #181818;
    --block-bg: #dc3b5a;
    --font-color-hero: #1e1e1e;
    --button-background-color: rgba(30, 30, 30, 0.1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #181818;
  font-family: var(--font-RightGrotesk);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-RightGrotesk);
  font-weight: 900;
  font-size: 44px;
  line-height: 44px;
}

span {
  font-family: var(--font-BiroScriptPlus);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

@media screen and (min-width: 768px) {
  span {
    font-size: 20px;
    line-height: 33px;
  }

  h1 {
    font-size: 92px;
    line-height: 92px;
  }

  .title-span {
    font-family: var(--font-RightGrotesk);
    font-weight: 900;
    font-size: 92px;
    line-height: 92px;
  }

  .image-spaces {
    right: calc((100% - 530px) / 2);
  }

  .button-spaces {
    right: calc((100% - 785px) / 2);
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .main-logo {
    width: 72px;
    height: 50px;
  }

  span {
    font-size: 24px;
    line-height: 40px;
  }

  .image-spaces {
    right: calc((100% - 870px) / 2);
  }

  h1 {
    font-size: 164px;
    line-height: 164px;
  }

  .title-span {
    font-family: var(--font-RightGrotesk);
    font-weight: 900;
    font-size: 164px;
    line-height: 164px;
  }

  .button-spaces {
    right: calc((100% - 1360px) / 2);
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

p {
  font-family: var(--font-MessinaSansMono);
}

.menu-btn {
  font-family: var(--font-MessinaSansMono);
  font-weight: 600;
  color: var(--font-color-hero);
}

.icon {
  fill: var(--font-color-hero);
}

.icon-link:hover .icon,
.icon-link:focus .icon {
  fill: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
